.no-spinner[data-v-0904ec57]::-webkit-inner-spin-button,.no-spinner[data-v-0904ec57]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}.no-spinner[data-v-0904ec57]{-moz-appearance:textfield}
