repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: 1.6.1
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        entry: yamllint -c .yamllint
        language: system
        files: \\.(yml|yaml)$
