[Unit]
Description=Run B2Connect Health Check every 30 seconds
Requires=b2connect-heartbeat.service

[Timer]
OnBootSec=30
OnUnitActiveSec=30
Unit=b2connect-heartbeat.service

[Install]
WantedBy=timers.target